:root {
  --gray-color: #d1d6de;
  --header-h: 55px;
  --darkGray-color: #2e3239;
}

/* css phần header */
.app_header {
  background-color: var(--gray-color);
  height: var(--header-h);
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header_logo {
  align-items: center;
  display: flex;
  gap: 12px;
  width: 300px;
  flex-shrink: 0;
}
.header_logo img {
  height: 40px;
  width: 40px;
}
.header_logo span {
  font-size: 25px;
  font-weight: 600;
}
.header_auth {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
}
.header_auth .bell {
  border-radius: 50%;
  cursor: pointer;
}
.header_auth .bell:hover {
  color: red;
}
.header_auth-user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_auth-user a {
  text-decoration: none;
  font-weight: 600;
  color: red;
}
.header_auth-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* css phần container chứa sidebar và content*/
.container {
  display: flex;
  position: relative;
  height: 100%;
}

/* css phần sidebar */
.container_sidebar {
  width: 342px;
  flex-shrink: 0;
  /* background-color: darkgray; */
  height: 100%;
  overflow-y: auto;
}

.container_sidebar::-webkit-scrollbar {
  width: 4px;
  background-color: #777;
}

.container_sidebar::-webkit-scrollbar-thumb {
  background-color: #333;
}
.container_sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777;
}

/* css phần content */
.container_content {
  flex: 1;

  overflow-y: auto;
}

/* css trang danh sách project */
.content_project-page {
}
.project_page-header {
  padding: 30px;
  display: flex;
}
.header_left {
  flex-shrink: 0;
}
.header_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}
.project_page-table {
  padding: 24px 30px;
}
.project_status .btn_status {
  color: #000;
  font-weight: 600;
  /* min-width: 110px !important;
  text-align: left; */
}

.btn_status span {
  font-size: 12px;
}
/* css trang stages */
.stages_page {
}
.tasks_page .task_info {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
.task_info .modal_task {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  position: absolute;
  overflow-y: auto;
}

.task_info .modal_task::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.task_info .modal_task::-webkit-scrollbar {
  width: 12px;

  background-color: #f5f5f5;
}

.task_info .modal_task::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.task_info--container {
  position: absolute;
  top: 40px;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #888;
  width: 80%;
}
.task_info .btn_close {
  z-index: 56;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.task_info .btn_close:hover {
  opacity: 0.5;
}
.task_info .modal_table {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.task_info .modal_comment {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.task_info .modal_comment .comment_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.task_info .modal_comment .comments_container {
  /* border: 1px solid #333; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;

  flex: 1;
}
.task_info .modal_comment .comments_container .comment_list {
  padding: 50px 15px 15px;
  margin: 0 auto;
  min-height: 300px;
  max-height: 520px;
  overflow-y: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 150px;
}
@media screen and (max-width: 470px) {
  .app_header {
    padding: 0 10px;
  }
  .header_logo {
    align-items: center;
    display: flex;
    gap: 12px;
    width: 100px;
    flex-shrink: 0;
  }

  .header_logo span {
    font-size: 20px;
  }
  .header_auth {
    padding-right: 0;
  }
  /* .ant-menu.ant-menu-root.ant-menu-inline {
  } */
}
