/* CSS for div container */
/* CSS for image */
/* CSS for comment container */
/* CSS for username */
/* CSS for comment */
/* CSS for action buttons */
.comment_content {
  display: flex;
  padding: 0 15px;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  width: 100%;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ccc;
  padding: 15px 15px;
  border-radius: 14px;
  width: 100%;
  position: relative;
  h1 {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    margin: 0;
  }
  p {
    color: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    font-family: sans-serif;
    margin: 0;
  }
  .action-buttons {
    display: flex;
    gap: 5px;
    padding-left: 1px;
    line-height: 12px;
    span {
      &:first-child {
        color: #007bff;
        cursor: pointer;
        font-weight: 600;
        &:hover {
          opacity: 0.7;
        }
      }
      &:last-child {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        font-weight: medium;
        opacity: 0.7;
      }
    }
  }
}
.comments_container {
  position: relative;
  .comment_list-chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #eee;
    .comment_action {
      display: flex;
      position: relative;
      flex: 1 1 0%;
      padding: 15px;
      gap: 20px;
    }
    .btn_action {
      width: 100px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.comment_list-chat {
  .comment_action {
    img {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }
    input {
      font-weight: 400;
      flex: 1 1 0%;
      outline: none;
      border-radius: 12px;
      padding: 0 15px;
      font-size: 16px;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }
    .icon_img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
    }
  }
}

//css phần reactquill
.quill {
  overflow: auto;
}
