/* css phần header */
.app_header {
  background-color: $gray-color;
  height: $header-h;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header_logo {
  align-items: center;
  display: flex;
  gap: 12px;
  width: 300px;
  flex-shrink: 0;
  align-items: center;
  img {
    height: 40px;
    width: 40px;
  }
  span {
    font-size: 25px;
    font-weight: 600;
  }
}
.header_auth {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 7px;
  .language_action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    img {
      cursor: pointer;
      width: 25px;
      height: 17px;
      border: solid 1px #fff;
      display: inline-block;

      &.active {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .bell {
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
.header_auth-user {
  max-width: 220px;
  display: flex;
  align-items: center;
  gap: 15px;
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    text-decoration: none;
    font-weight: 600;
    color: red;
  }
  .header__img {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 470px) {
  .app_header {
    padding: 0 10px;
  }
  .header_logo {
    align-items: center;
    display: flex;
    gap: 12px;
    width: 100px;
    flex-shrink: 0;
  }

  .header_logo span {
    font-size: 20px;
  }
  .header_auth {
    padding-right: 0;
  }
  /* .ant-menu.ant-menu-root.ant-menu-inline {
    } */
}
