.member-list {
  margin-top: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media only screen and (min-width: 576px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .ant-table-row {
    .ant-table-cell:first-child {
      cursor: pointer;
    }
  }
}
