.notfound__page {
  width: 90%;
  margin: 0 auto;

  .container {
    width: 100%;
    height: auto !important;
    .main {
      width: 100%;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    padding: 34px 0;
    font-weight: 600;
    gap: 20px;
  }
  .link {
  }
}
