.notfound__page {
  width: 100%;
  .container {
    width: 100%;
    .main {
      width: 100%;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    padding: 34px 0;
    font-weight: 600;
    gap: 20px;
  }
  .link {
  }
}
