.project-form {
  margin: 1rem;

  h3 {
    text-align: center;
  }

  .ant-form-item {
    margin-bottom: 1rem;
  }

  .ant-form-item-label {
    padding: 0;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }
}
