/* css trang danh sách project */
.project_page-header {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  @include maxWidth($tablet-width) {
    gap: 12px;
    padding-bottom: 0;
    padding-top: 0;
  }
  @include maxWidth($mobile-width) {
    gap: 12px;
    padding: 0 10px;
  }
  .header_left {
    flex-shrink: 0;
  }
  .header_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    gap: 16px;
    align-items: center;
    @include maxWidth($tablet-width) {
      justify-content: flex-start;
    }
  }
}

.project_page-table {
  padding: 24px 30px;
  overflow-x: auto;
  @include maxWidth($mobile-width) {
    padding: 10px;
  }
}
.project_status {
  .btn_status {
    color: #000;
    font-weight: 600;
  }
}
.btn_status {
  span {
    font-size: 12px;
  }
}

.project_name {
  cursor: pointer;
  color: #1677ff;
}
@media screen and (max-width: 768px) {
  .breadcrumb__project {
    padding-left: 10px;
  }
}
