@import "./mixin";

.register {
  position: relative;

  img {
    @include backgroundImg;
  }

  .form-container {
    @include formContainer;
  }

  .form-layout {
    margin: auto;
    padding: 0 4rem;
    max-width: 100%;

    .ant-col.ant-form-item-label {
      padding: 0;
    }

    .ant-form-item-control-input {
      text-align: center;

      button {
        width: 100%;
      }
    }
  }

  .ant-form-item:last-child {
    button {
      margin-top: 1rem;
    }
  }

  .form-title {
    text-align: center;
    margin: 2rem 4rem;
  }
}

.register-divider {
  max-width: 100%;
  padding: 0 4rem;
}

.google-register-button {
  width: 100%;
  padding: 0 4rem;

  button {
    width: 100%;
  }
}

// Style cho page phụ Verfiy Register
.register-verify {
  position: relative;

  img {
    @include backgroundImg;
  }

  .content {
    @include formContainer;
    text-align: center;
    padding-top: 32px;

    .content_text {
      font-size: 16px;
    }
  }
}
