@import './mixin';

.register {
    position: relative;

    img {
        @include backgroundImg
    }

    .form-container {
        @include formContainer
    }

    .form-layout {
        margin: auto;
        padding: 0 4rem;
        max-width: 100%;
    
        .ant-col.ant-form-item-label {
            padding: 0 
        }
    
        .ant-form-item-control-input {
            text-align: center;
    
            button {
                width: 100%;
            }
        }
    }

    .ant-form-item:last-child {
        button {
            margin-top: 1rem;
        }
    }

    .form-title {
        text-align: center;
        margin: 2rem 4rem;
    }
}

.register-divider {
    max-width: 100%;
    padding: 0 4rem;
}

.google-register-button {
    width: 100%;  
    padding: 0 4rem;

    button {
        width: 100%;
    }
}

// Style cho page phá»¥ Verfiy Register
.register-verify {
    position: relative;
        img {
           @include backgroundImg
        }

        .content {
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right:auto; 
        }
}
