/* css pháº§n sidebar */
.container_sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  bottom: 0;
  // height: calc(100% - $header-h);
  position: relative;
  width: 340px;
  transition: all 0.3s linear;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  .sidebar__action {
    position: relative;
    padding: 0 16px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search__input {
    margin-top: 8px;
    transition: all 0.3s linear;
    overflow: hidden;
  }
  .btn_sidebar {
    position: absolute;
    right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    padding: 5px;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background-color: #ccc;
    }
    &.active {
      right: -5%;
      background-color: #ccc;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .sidebar__title {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 16px;
  }
  .sidebar__menu {
    // height: 100%;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    background: #fff;
    .ant-menu-item-group {
      padding-bottom: 100px;
    }
    &:where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline
      > .ant-menu-item,
    :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical
      > .ant-menu-item,
    :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline
      > .ant-menu-submenu
      > .ant-menu-submenu-title,
    :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical
      > .ant-menu-submenu
      > .ant-menu-submenu-title {
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 10;
      &:hover {
        // background-color: rgba(0, 0, 0, 0.06);
        background-color: $gray-color;
      }
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #777;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a48f8f;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #decccc;
    }
  }
}
.sidebar__skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .container_sidebar {
    width: 100%;
  }
  .container_sidebar .btn_sidebar.active {
    right: -2.5%;
    background-color: #ccc;
  }
  .sidebar__action--select {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  .container_sidebar .btn_sidebar.active {
    right: -5%;
    background-color: #ccc;
  }
}
