.stages_page {
  .pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .modal {
    // transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    .form {
      animation: opacity 0.3s linear;
      transition: all 0.3s linear;
      // width: 600px;

      padding: 50px;
      border-radius: 12px;
      background-color: #ffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    }
  }
}
//css phaafn trang danh gia
.stage__review {
  cursor: pointer;
  display: flex;
  gap: 30px;
  flex-direction: column;
  .load__more {
    font-weight: 600;
    color: rgb(62, 62, 218);
    text-decoration: underline;
    &:hover {
      opacity: 0.6;
    }
  }
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      padding-right: 12px;
      flex: 1;
      text-align: center;
    }
  }
  &--content {
    box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
    .review__list--comment {
      padding-top: 30px;

      width: 100%;
      height: 500px;
      overflow-y: auto;
    }
  }
}

@keyframes opacity {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.breadcrumbItem {
  position: absolute;
  top: 10px;
  left: 20px;
}
