$gray-color: #d1d6de;
$header-h: 55px;
$darkgray-color: #2e3239;
$lightgray-color: #f7f8f9;
//color
$text-color: #d4d4d4;
$bgr: #131014;
$span-color: #e4a101;
// responsisve
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
